.message {
;
/*    width: 1500px;*/
/*height: 500px;*/
/*    background-color: mistyrose;*/
/*    border: 1px solid black;*/
/*    margin-left: 20px;*/
/*    position: relative;*/
/*    left: 1162px;*/
/*    top: 204px;*/



}

.imageAndText {
    /*background-color: palegreen;*/

}

.imageAndText img {

    position: relative;
    width: 48px;
    height: 48px;
    left: 1162px;
    top: 50px;


}

.text {
    position: relative;
    width: 527px;
    height: 55px;
    left: 630px;
    top: 0px;
    border-radius: 7px;

    background: #0066CC;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
}

.text:after {
    /*!*position: absolute;*!*/
    /*width: 527px;*/
    /*height: 60px;*/
    /*left: 635px;*/
    /*top: 406px;*/

    /*background: #0066CC;*/
    /*box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);*/
}

.name {
    position: relative;
    width: 40px;
    height: 22px;
    left: 485px;
    /*top: 10px;*/

    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;


    color: white;
}

.messageText {
    position: relative;
    width: 489px;
    height: 20px;
    left: 10px;
    /*top: 20px;*/

    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;


    color: white;
}

.time {
    position: relative;
    width: 26px;
    height: 12px;
    left: 1173px;
    top: 0px;

    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;

    color: #000000;
}