.main {
    margin-bottom: 500px;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.responseContainer {
    display: inline-flex;
    margin: 100px 0 0 100px;
}

.imageContainer {
}

.image {
}

.textContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 70px;
    width: 492px;
}

.code {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}

.text {
    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.info {
    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

