
.main {
    margin-bottom: 450px;
}

.tech {
    width: 50vw;
}

.developer {

}

.techHeader {
    width: 50vw;
}

.developerHeader {

}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
    background-color: rgba(203,215,209,0.98);
}

.loading {
color: red;
}

.image {
    width: 12px;
    height: 12px;
}