.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;


    width: 800px;
    margin: 50px 0 150px 100px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 48px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
