.friendMessage {
/*background-color: skyblue;*/

}

.friendImageAndText {
    /*height: 20px;*/
}

.friendImageAndText img {

    border-radius: 100%;

    position: relative;
    width: 48px;
    height: 48px;
    left: 70px;
    top: 251px;

}

.friendText {
    position: relative;
    width: 414px;
    height: 60px;
    left: 125px;
    top: 193px;
    border-radius: 7px;
    border: 1px solid #DDEEFF;

    background: #F5F7FB;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
}

.friendText:after {

}

.friendName {
    position: relative;
    width: 35px;
    height: 20px;
    left: 10px;
    /*top: 70px;*/

    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: #000000;

}

.friendMessageText {
    position: relative;
    width: 374px;
    height: 20px;
    left: 10px;
    top: 10px;

    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */



    color: #000000;

}

.friendTime {
    position: relative;
    width: 29px;
    height: 12px;
    left: 80px;
    top: 195px;

    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;

    color: #000000;
}
