.sendForm {
    position: relative;
    width: 976px;
    height: 40px;
    left: 70px;
    top: 350px;

    background: #F5F7FB;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 20px;
}

.textarea {
    position: absolute;
    width: 900px;
    height: 65px;
    left: 22px;
    top: 10px;
    border-radius: 7px;

    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;



    color: rgba(0, 0, 0, 0.6);

    opacity: 0.9;
}

.button {
    position: absolute;
    width: 120px;
    height: 40px;
    left: 1000px;
    /*top: 10px;*/

    background: #0066CC;
    border-radius: 20px;
    border: 1px solid #DDEEFF;
}

.button:hover {
color: white;
}
.button:active {
   color: limegreen;
}
