.burgerMenuIcon {
    margin-left: 50px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;


    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(29, 33, 38, 0.13), 0px 0px 2px rgba(29, 33, 38, 0.1);
}

.header h1 {
    margin-right: 60px;
}