.container {
}

.wrapper {
    display: flex;
    flex-direction: row;
    margin: 30px 30px 30px 30px;
}


.number1 {
    position: relative;
    right: 20px;
    top: 3px;
    font-size: 20px;
    font-family: Sans-serif;
}

.number2 {
    position: relative;
    left: 20px;
    font-size: 20px;
    top: 3px;
    font-family: Sans-serif;

}
